/* Balises générales */

a {
    color: #OO8000;
}

a:hover {
    color: #800000;
}

a:visited {
    color: #OO8000;
}

img {
    border: none;
}

h1 {
    font: bold 26px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    text-align: center;
    margin-left: 220px;
    margin-right: 300px;
    text-shadow: 0.1em 0.1em #365C08;
}

h2 {
    width: 100%;
    font: bold 20px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    text-align: center;
    color: #365C08;
    text-shadow: 0.1em 0.1em #97C64D;
}

p {
    position: relative;
}

p.cen {
    position: relative;
    text-align: center;
}

fieldset {
    border: 1px solid #921407;
    width: 95%;
    margin-left: 1.5%;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

legend {
    text-align: left;
    color: #921407;
    font: bold 16px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

label {
    margin-top: 10px;
    margin-left: 10px;
    display: block;
}

label.inline {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}

label.gauche {
    text-align: left;
    display: inline;
    margin-left: 20px;
}

input[type="text"] {
    border: 2px solid #396208;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    width: 450px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

input.droit[type="text"] {
    border: 2px solid #396208;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    float: right;
    width: 450px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

input.cons[type="text"] {
    border: 2px solid #396208;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    width: 100px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

input.cons2[type="text"] {
    border: 2px solid #396208;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    width: 60px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

input.cons3[type="text"] {
    border: 2px solid #396208;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    width: 35px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

input.cons4[type="text"] {
    border: 2px solid #396208;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    width: 30px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

input[type="text"]:focus {
    border: 2px solid #B01807;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #AD2208;
    width: 450px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

input.droit[type="text"]:focus {
    border: 2px solid #B01807;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #AD2208;
    width: 450px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

input.cons[type="text"]:focus {
    border: 2px solid #B01807;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #AD2208;
    width: 200px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

input.cons2[type="text"]:focus {
    border: 2px solid #B01807;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #AD2208;
    width: 60px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

input.cons3[type="text"]:focus {
    border: 2px solid #B01807;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #AD2208;
    width: 100px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

input.cons4[type="text"]:focus {
    border: 2px solid #B01807;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #AD2208;
    width: 100px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

input.droit[type="file"] {
    border: 2px solid #396208;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    float: right;
    width: 450px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

input.droit[type="file"]:focus {
    border: 2px solid #B01807;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #AD2208;
    float: right;
    width: 450px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

input[type="date"] {
    border: 2px solid #396208;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    width: 450px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

input.droit[type="date"] {
    border: 2px solid #396208;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    float: right;
    width: 450px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

input[type="date"]:focus {
    border: 2px solid #B01807;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #AD2208;
    width: 450px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

input[type="password"] {
    border: 2px solid #396208;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    float: right;
    width: 450px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

input[type="password"]:focus {
    border: 2px solid #B01807;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #AD2208;
    width: 450px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

input[type="submit"] {
    background: #62A90F;
    border-top: 2px solid #89EC14;
    border-bottom: 2px solid #396208;
    border-left: 2px solid #62A90F;
    border-right: 2px solid #62A90F;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #000000;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
    box-shadow: 5px 5px 25px #365C08;
    -moz-box-shadow: 5px 5px 25px #365C08;
    -webkit-box-shadow: 5px 5px 25px #365C08;
}

input.calend[type="submit"] {
    background: #62A90F;
    border-top: 2px solid #89EC14;
    border-bottom: 2px solid #396208;
    border-left: 2px solid #62A90F;
    border-right: 2px solid #62A90F;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #000000;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
    box-shadow: 5px 5px 25px #365C08;
    -moz-box-shadow: 5px 5px 25px #365C08;
    -webkit-box-shadow: 5px 5px 25px #365C08;
}

input.calend1[type="submit"] {
    background: #A90F0F;
    border-top: 2px solid #EC1414;
    border-bottom: 2px solid #620808;
    border-left: 2px solid #A90F0F;
    border-right: 2px solid #A90F0F;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #000000;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
    box-shadow: 5px 5px 25px #5C0808;
    -moz-box-shadow: 5px 5px 25px #5C0808;
    -webkit-box-shadow: 5px 5px 25px #5C0808;
}

input.calend2[type="submit"] {
    background: #A9620F;
    border-top: 2px solid #EC6214;
    border-bottom: 2px solid #623908;
    border-left: 2px solid #A9620F;
    border-right: 2px solid #A9620F;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #000000;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
    box-shadow: 5px 5px 25px #5C3608;
    -moz-box-shadow: 5px 5px 25px #5C3608;
    -webkit-box-shadow: 5px 5px 25px #5C3608;
}

input.calend3[type="submit"] {
    background: #A9A90F;
    border-top: 2px solid #ECEC14;
    border-bottom: 2px solid #626208;
    border-left: 2px solid #A9A90F;
    border-right: 2px solid #A9A90F;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #000000;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
    box-shadow: 5px 5px 25px #5C5C08;
    -moz-box-shadow: 5px 5px 25px #5C5C08;
    -webkit-box-shadow: 5px 5px 25px #5C5C08;
}

input.calend4[type="submit"] {
    background: #0FA90F;
    border-top: 2px solid #14EC14;
    border-bottom: 2px solid #086208;
    border-left: 2px solid #0FA90F;
    border-right: 2px solid #0FA90F;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #000000;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
    box-shadow: 5px 5px 25px #085C08;
    -moz-box-shadow: 5px 5px 25px #085C08;
    -webkit-box-shadow: 5px 5px 25px #085C08;
}

input.calend5[type="submit"] {
    background: #0FA962;
    border-top: 2px solid #14EC62;
    border-bottom: 2px solid #086239;
    border-left: 2px solid #0FA962;
    border-right: 2px solid #0FA962;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #000000;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
    box-shadow: 5px 5px 25px #085C36;
    -moz-box-shadow: 5px 5px 25px #085C36;
    -webkit-box-shadow: 5px 5px 25px #085C36;
}

input.calend6[type="submit"] {
    background: #0FA9A9;
    border-top: 2px solid #14ECEC;
    border-bottom: 2px solid #086262;
    border-left: 2px solid #0FA9A9;
    border-right: 2px solid #0FA9A9;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #000000;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
    box-shadow: 5px 5px 25px #085C5C;
    -moz-box-shadow: 5px 5px 25px #085C5C;
    -webkit-box-shadow: 5px 5px 25px #085C5C;
}

input.calend7[type="submit"] {
    background: #0F62A9;
    border-top: 2px solid #1462EC;
    border-bottom: 2px solid #083962;
    border-left: 2px solid #0F62A9;
    border-right: 2px solid #0F62A9;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #000000;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
    box-shadow: 5px 5px 25px #08365C;
    -moz-box-shadow: 5px 5px 25px #08365C;
    -webkit-box-shadow: 5px 5px 25px #08365C;
}

input.calend8[type="submit"] {
    background: #0F0FA9;
    border-top: 2px solid #1414EC;
    border-bottom: 2px solid #080862;
    border-left: 2px solid #0F0FA9;
    border-right: 2px solid #0F0FA9;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #000000;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
    box-shadow: 5px 5px 25px #08085C;
    -moz-box-shadow: 5px 5px 25px #08085C;
    -webkit-box-shadow: 5px 5px 25px #08085C;
}

input.calend9[type="submit"] {
    background: #620FA9;
    border-top: 2px solid #6214EC;
    border-bottom: 2px solid #390862;
    border-left: 2px solid #620FA9;
    border-right: 2px solid #620FA9;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #000000;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
    box-shadow: 5px 5px 25px #36085C;
    -moz-box-shadow: 5px 5px 25px #36085C;
    -webkit-box-shadow: 5px 5px 25px #36085C;
}

input.calend10[type="submit"] {
    background: #A90FA9;
    border-top: 2px solid #EC14EC;
    border-bottom: 2px solid #620862;
    border-left: 2px solid #A90FA9;
    border-right: 2px solid #A90FA9;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #000000;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
    box-shadow: 5px 5px 25px #5C085C;
    -moz-box-shadow: 5px 5px 25px #5C085C;
    -webkit-box-shadow: 5px 5px 25px #5C085C;
}

input.calend11[type="submit"] {
    background: #A90F62;
    border-top: 2px solid #EC1462;
    border-bottom: 2px solid #620839;
    border-left: 2px solid #A90F62;
    border-right: 2px solid #A90F62;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #000000;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
    box-shadow: 5px 5px 25px #5C0836;
    -moz-box-shadow: 5px 5px 25px #5C0836;
    -webkit-box-shadow: 5px 5px 25px #5C0836;
}

input[type="submit"]:active {
    background: #DB1E09;
    border-top: 2px solid #F14835;
    border-bottom: 2px solid #B01807;
    border-left: 2px solid #DB1E09;
    border-right: 2px solid #DB1E09;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #FFFFFF;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
    box-shadow: 5px 5px 25px #5C3608;
    -moz-box-shadow: 5px 5px 25px #5C3608;
    -webkit-box-shadow: 5px 5px 25px #5C3608;
}

input[type="reset"] {
    background: #62A90F;
    border-top: 2px solid #89EC14;
    border-bottom: 2px solid #396208;
    border-left: 2px solid #62A90F;
    border-right: 2px solid #62A90F;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #000000;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
    box-shadow: 5px 5px 25px #365C08;
    -moz-box-shadow: 5px 5px 25px #365C08;
    -webkit-box-shadow: 5px 5px 25px #365C08;
}

input[type="reset"]:active {
    background: #DB1E09;
    border-top: 2px solid #F14835;
    border-bottom: 2px solid #B01807;
    border-left: 2px solid #DB1E09;
    border-right: 2px solid #DB1E09;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #FFFFFF;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
    box-shadow: 5px 5px 25px #5C3608;
    -moz-box-shadow: 5px 5px 25px #5C3608;
    -webkit-box-shadow: 5px 5px 25px #5C3608;
}

input[type="button"] {
    background: #62A90F;
    border-top: 2px solid #89EC14;
    border-bottom: 2px solid #396208;
    border-left: 2px solid #62A90F;
    border-right: 2px solid #62A90F;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #000000;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
    box-shadow: 5px 5px 25px #365C08;
    -moz-box-shadow: 5px 5px 25px #365C08;
    -webkit-box-shadow: 5px 5px 25px #365C08;
}

input[type="button"]:active {
    background: #DB1E09;
    border-top: 2px solid #F14835;
    border-bottom: 2px solid #B01807;
    border-left: 2px solid #DB1E09;
    border-right: 2px solid #DB1E09;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #FFFFFF;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
    box-shadow: 5px 5px 25px #5C3608;
    -moz-box-shadow: 5px 5px 25px #5C3608;
    -webkit-box-shadow: 5px 5px 25px #5C3608;
}

input.agend[type="submit"] {
    background: #62A90F;
    border-top: 4px solid #89EC14;
    border-bottom: 6px solid #396208;
    border-left: 4px solid #62A90F;
    border-right: 4px solid #62A90F;
    height: 50px;
    width: 90%;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #000000;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
    box-shadow: 5px 5px 25px #365C08;
    -moz-box-shadow: 5px 5px 25px #365C08;
    -webkit-box-shadow: 5px 5px 25px #365C08;
}

input.agend_act[type="submit"] {
    background: #C9C9C9;
    border-top: 4px solid #ECECEC;
    border-bottom: 6px solid #929292;
    border-left: 4px solid #C9C9C9;
    border-right: 4px solid #C9C9C9;
    height: 50px;
    width: 90%;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #000000;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
    box-shadow: 5px 5px 25px #929292;
    -moz-box-shadow: 5px 5px 25px #929292;
    -webkit-box-shadow: 5px 5px 25px #929292;
}

input.agend[type="submit"]:active {
    background: #DB1E09;
    border-top: 4px solid #F14835;
    border-bottom: 6px solid #B01807;
    border-left: 4px solid #DB1E09;
    border-right: 4px solid #DB1E09;
    height: 50px;
    width: 90%;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #FFFFFF;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
    box-shadow: 5px 5px 25px #5C3608;
    -moz-box-shadow: 5px 5px 25px #5C3608;
    -webkit-box-shadow: 5px 5px 25px #5C3608;
}

input.agend_act[type="submit"]:active {
    background: #DB1E09;
    border-top: 4px solid #F14835;
    border-bottom: 6px solid #B01807;
    border-left: 4px solid #DB1E09;
    border-right: 4px solid #DB1E09;
    height: 50px;
    width: 90%;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #FFFFFF;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
    box-shadow: 5px 5px 25px #B01807;
    -moz-box-shadow: 5px 5px 25px #B01807;
    -webkit-box-shadow: 5px 5px 25px #B01807;
}

select {
    border: 2px solid #396208;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    width: 454px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

select.droit {
    border: 2px solid #396208;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    width: 454px;
    float: right;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

select.cons {
    border: 2px solid #396208;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    width: 100px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

select.cons2 {
    border: 2px solid #396208;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    width: 50px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

select:focus {
    border: 2px solid #B01807;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #AD2208;
    width: 454px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

select.droit:focus {
    border: 2px solid #B01807;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #AD2208;
    width: 454px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

select.cons:focus {
    border: 2px solid #B01807;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #AD2208;
    width: 200px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

select.cons2:focus {
    border: 2px solid #B01807;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #AD2208;
    width: 100px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

textarea {
    border: 2px solid #396208;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    height: 100px;
    width: 450px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

textarea.droit {
    border: 2px solid #396208;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    height: 100px;
    width: 450px;
    float: right;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

textarea.droit_memo {
    border: 2px solid #396208;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    height: 100px;
    width: 700px;
    float: right;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

textarea.doc {
    border: 2px solid #396208;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    height: 50px;
    width: 500px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

textarea:focus {
    border: 2px solid #B01807;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #AD2208;
    height: 100px;
    width: 450px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

textarea.droit:focus {
    border: 2px solid #B01807;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #AD2208;
    height: 100px;
    width: 450px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

textarea.droit_memo:focus {
    border: 2px solid #B01807;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #AD2208;
    height: 100px;
    width: 700px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

textarea.doc:focus {
    border: 2px solid #B01807;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #AD2208;
    height: 50px;
    width: 500px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

strong {
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    text-align: center;
    color: #264C38;
    text-shadow: 0.1em 0.1em #87B67D;
}

strong.gl {
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    text-align: center;
    color: #000000;
    text-shadow: none;
}

table {
    width: 100%;
    border: 1px solid #365C08;
    font: bold 16px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

th {
    font: bold 16px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #365C08;
    border: 1px solid #921407;
    text-shadow: 0.1em 0.1em #97C64D;
}

td {
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    border: 1px solid #921407;
}

td.cald {
    font: 12px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    border: 1px solid #921407;
    width: 14%;
    height: 100px;
    background: #C9FF64;
}

td.cald1 {
    font: 12px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    border: 1px solid #921407;
    width: 14%;
    height: 100px;
    background: #FF6464;
}

td.cald2 {
    font: 12px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    border: 1px solid #921407;
    width: 14%;
    height: 100px;
    background: #FFC964;
}

td.cald3 {
    font: 12px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    border: 1px solid #921407;
    width: 14%;
    height: 100px;
    background: #FFFF64;
}

td.cald4 {
    font: 12px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    border: 1px solid #921407;
    width: 14%;
    height: 100px;
    background: #64FF64;
}

td.cald5 {
    font: 12px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    border: 1px solid #921407;
    width: 14%;
    height: 100px;
    background: #64FFC9;
}

td.cald6 {
    font: 12px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    border: 1px solid #921407;
    width: 14%;
    height: 100px;
    background: #64FFFF;
}

td.cald7 {
    font: 12px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    border: 1px solid #921407;
    width: 14%;
    height: 100px;
    background: #64C9FF;
}

td.cald8 {
    font: 12px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    border: 1px solid #921407;
    width: 14%;
    height: 100px;
    background: #6464FF;
}

td.cald9 {
    font: 12px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    border: 1px solid #921407;
    width: 14%;
    height: 100px;
    background: #C964FF;
}

td.cald10 {
    font: 12px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    border: 1px solid #921407;
    width: 14%;
    height: 100px;
    background: #FF64FF;
}

td.cald10 {
    font: 12px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    border: 1px solid #921407;
    width: 14%;
    height: 100px;
    background: #FF64C9;
}

.err_bdd {
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #FF0000;
    text-align: center;
}

.validation {
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #508000;
    text-align: center;
}


/* Bloc Menu Principal */

#conteneur {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0px;
    min-width: 1100px;
    background: rgba(255, 255, 255, 0.6);
    overflow: hidden;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

#logo {
    position: absolute;
    text-align: center;
    background: rgba(255, 255, 255, 0.6);
    height: 120px;
    width: 20%;
    border-top: 4px solid #F0F0F0;
    border-bottom: 4px solid #404040;
}

#logo img {
    height: 120px;
    width: 50%;
}

#titre {
    position: absolute;
    height: 120px;
    width: 80%;
    margin-left: 20%;
    top: 0px;
    background: rgba(255, 255, 255, 0.6);
    border-top: 4px solid #F0F0F0;
    border-bottom: 4px solid #404040;
}

#titre img {
    height: 120px;
    width: 95%;
}

#Menu_liste {
    position: absolute;
    width: 94%;
    top: 114px;
    z-index: 10;
    display: block;
    margin-left: 2%;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

#Menu_liste li {
    list-style: none;
    width: 13.4%;
    background: #62A90F;
    float: left;
    border-top: 6px solid #89EC14;
    border-bottom: 10px solid #396208;
    margin: 3px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
    box-shadow: 0px 0px 20px #606060;
    -moz-box-shadow: 0px 0px 20px #606060;
    -webkit-box-shadow: 0px 0px 20px #606060;
}

#Menu_liste li:hover {
    position: relative;
    border-top: 6px solid #F14835;
    border-bottom: 10px solid #B01807;
    background: #DB1E09;
    box-shadow: 0px 0px 20px #DB1E09;
    -moz-box-shadow: 0px 0px 20px #DB1E09;
    -webkit-box-shadow: 0px 0px 20px #DB1E09;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

#Menu_liste li a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    padding: 12px;
    display: block;
}

#Menu_liste li a:hover {
    color: #FFFFFF;
    background-color: #DB1E09;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

#Menu_liste li ul {
    background: #FFFFFF;
    margin-top: -2px;
    display: none;
    width: 100%;
    background: rgba(96, 96, 96, 0.4);
    padding: 10px 5px;
    box-shadow: 0px 0px 20px #606060;
    -moz-box-shadow: 0px 0px 20px #606060;
    -webkit-box-shadow: 0px 0px 20px #606060;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

#Menu_liste li:hover ul {
    display: block;
    position: absolute;
    width: 100%;
}

#Menu_liste li ul li {
    list-style: none;
    width: 95%;
    background: #62A90F;
    float: left;
    border-top: 6px solid #89EC14;
    border-bottom: 10px solid #396208;
    margin: 3px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
    box-shadow: 0px 0px 20px #606060;
    -moz-box-shadow: 0px 0px 20px #606060;
    -webkit-box-shadow: 0px 0px 20px #606060;
}

#Menu_liste li ul li a {
    background: transparent;
    color: #000000;
    font-size: 15px;
    font-style: italic;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}

#Menu_liste li ul li a:hover {
    color: #FFFFFF;
    background: #DB1E09;
}


/* Bloc Contenu */

#Contenu {
    position: absolute;
    background: url(../Images/info_div.jpg) repeat-x;
    width: 100%;
    height: 80%;
    top: 190px;
    border-top: 4px solid #404040;
    border-bottom: 4px solid #404040;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    overflow: auto;
}


/* Blocs pages */

#feuille {
    position: absolute;
    width: 95%;
    height: 100%;
    left: 2.5%;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

#feuille_bloc {
    position: relative;
    text-align: justify;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    top: 30px;
    width: 100%;
    border-top: 2px solid #57960D;
    border-bottom: 2px solid #DB1E09;
    background: rgba(255, 255, 255, 0.6);
    padding-bottom: 20px;
    margin-bottom: 80px;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 25px #505050;
    -moz-box-shadow: 5px 5px 25px #505050;
    -webkit-box-shadow: 5px 5px 25px #505050;
}


/* Bloc paragraphe */

#feuille_para {
    position: relative;
    text-align: center;
    padding: 5px;
    width: 99%;
    height: 190px;
}


/* Blocs impression */

#feuille_imp {
    position: absolute;
    width: 100%;
    background: #FFFFFF;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: Arial, Helvetica, sans-serif;
}

#feuille_imp p.imp_1 {
    font: bold italic 11px Arial, Helvetica, sans-serif;
    text-decoration: underline;
    margin-top: 2px;
    margin-bottom: 2px;
}

#feuille_imp p.imp_2 {
    font: 10px Arial, Helvetica, sans-serif;
    color: #000000;
    margin-top: 2px;
    margin-bottom: 2px;
}

#feuille_imp p.imp_3 {
    font: bold 10px Arial, Helvetica, sans-serif;
    margin-top: 2px;
    margin-bottom: 2px;
}

#feuille_imp p.imp_4 {
    font: 12px Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

#feuille_imp strong.imp_5 {
    font: bold 12px Arial, Helvetica, sans-serif;
    color: #000000;
    margin-top: 2px;
    margin-bottom: 2px;
    text-shadow: none;
}

#feuille_imp p.imp_6 {
    font: bold 14px Arial, Helvetica, sans-serif;
    margin-top: 2px;
    margin-bottom: 2px;
}

#feuille_imp table {
    width: 97.5%;
    border: solid 1px;
    border-collapse: collapse;
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
}

#feuille_imp td {
    border: solid 1px;
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#haut_imp {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

#corps_imp {
    position: relative;
    height: 520px;
    font-family: Arial, Helvetica, sans-serif;
}

#pied_imp {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}


/* Blocs agenda */

#NavBar {
    position: relative;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#Calendar {
    position: relative;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.select2 {
    border: 2px solid #396208;
    font: bold 15px "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    width: 454px!important;
    border-radius: 6px;
}

.select2-selection {
    border: none!important;
    background: transparent!important;
}

.select-client .select2 {
    float: right;
}

.select-product .select2 {}

.fa-plus,
.fa-minus {
    cursor: pointer;
    margin-right: 5px;
}

.fa-plus:hover,
.fa-minus:hover {
    color: #2980b9;
}
#list_modif_fact > fieldset > span{
    float: right;
}
.crea_cli_sec{
    margin:0 auto;
    width: 50%;
}


.box_notification{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.63);
}
.box_notification p{
    color: #fff;
    width: 400px;
    border-radius: 20px / 10px;
    padding: 100px 0px; 
    text-align: center;
    margin: 150px auto 0px;
    background-color: rgba(60, 60, 60, 0.84);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
    font-size: 20px;
}